
<div>
  <h1>Welcome to Doctor's appointment</h1>
  <p>Please click the link below to see the full API docs</p>
  <div class="link">
    <%= link_to 'API documentation', rswag_api_path %>
  </div>
</div>


